<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
>
  <f:layout name="Module" />

  <f:section name="Content">
    <style type="text/css">
      a {
        color: #0077FF;
      }
    </style>

    <f:flashMessages queueIdentifier="core.template.flashMessages" />

    <div>

      <f:if condition="{changelogContent}">
        <v:format.markdown>
          {changelogContent}
        </v:format.markdown>
      </f:if>
    </div>

  </f:section>
 </html>
